<table border="1" width="100%" cellpadding="2" cellspacing="1">
<tr>
    <th colspan="3">
        <{$sstatus_indexTitle}>
    </td>
</tr>
<tr>
    <td class="head" nowrap>
        <{$sstatus_name}>
    </td>
    <td class="head" nowrap>
        <{$sstatus_currStatus}>
    </td>
    <td class="head" nowrap>
        <{$sstatus_lastUpdated}>
    </td>
</tr>
<{foreach from=$sstatus_serviceList item=service}>
    <tr>
        <td class="even" nowrap>
            <a href="<{$service.url}>"><{$service.name}></a>
        </td>
        <td class="even" nowrap>
            <img src="images/status_icon<{$service.status}>.GIF" border="0">
        </td>
        <td class="even">
            <{$service.lastUpdated}>
        </td>
    </tr>
<{/foreach}>
</table>

<div id="pageNav">
    <{$sstatus_pageNav}>
</div>
<{include file='db:system_notification_select.html'}>